<div class="header">
    <div class="row col-12">
        <div class="col-2">
            <div class="logo">
                <img src="./../../assets/logo@1x.png" alt="brand-logo" class="img-brand-logo">
            </div>
        </div>
        <div class="col-3">
            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-list-item">Home</li>
                    <li class="menu-list-item">Collection</li>
                    <li class="menu-list-item">Connect</li>
                    <li class="menu-list-item">About</li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="col-2">
            <div class="user-info">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <label for="username">ALOK</label>
            </div>
        </div>
        <div class="col-2">
            <div class="btn btn-logout">LOG OUT</div>
        </div>
    </div>
</div>
<div class="body">
    <!-- <app-collection></app-collection> -->
    <app-about></app-about>
</div>




<div class="footer"></div>Í