<div class="canvas">
    <svg height="700" width="700">
        <defs>
            <filter id="f3" x="0" y="0" width="200%" height="200%">
                <feOffset result="offOut" in="SourceAlpha" dx="1" dy="3" />
                <feGaussianBlur result="blurOut" in="offOut" stdDeviation="2" />
                <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
            </filter>
        </defs>
        <circle cx="150" cy="300" r="250" stroke="#3A4B62" stroke-width="1" fill="#305F72" filter="url(#f3)" />
    </svg>
</div>