<div class="container-fluid">
    <div class="profile-block">
        <div class="profile-image">
            <img src="./../../assets/template2.jpeg" alt="">
        </div>
        <div class="profile-info">
            <p class="name">Alok Sharma</p>
            <p class="contact"><i class="fa fa-phone-square" aria-hidden="true"></i>+91 9984609957</p>
            <p class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>aloksha007@gmail.com</p>
            <p class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i>aloksha007</p>
            <p class="insta"><i class="fa fa-instagram" aria-hidden="true"></i>@aloksha008</p>
            <p class="git"><i class="fa fa-github" aria-hidden="true"></i>@aks1011</p>
            <img class="logo-image" src="./../../assets/logo@1x.png" alt="">
        </div>
    </div>
</div>