<div class="row item-list">
  <div class="item col-4" id="item-{{i}}" *ngFor="let item of ItemList; let i =index;">
    <img class="item-image" src="{{item.image}}">
    <div class="item-details">
      <div class="item-name">{{item.name}}</div>
      <div class="item-pricing">
        <p class="item-discount-price" *ngIf=item.hasDiscount>
          <span>Rs.{{item.discountedPrice}}</span>
        </p>
        <p [ngClass]="item.hasDiscount ? 'item-price' : 'item-discount-price'">
          <span [ngClass]="{'has-discount': item.hasDiscount}">Rs.{{item.price}}</span>
        </p>
        <p class="item-discount" *ngIf=item.hasDiscount>
          <span>({{item.discount}}% off)</span>
        </p>
      </div>
    </div>
    <div class="row item-buttons">
      <div class="col-6"><button type="button" class="btn btn-outline-addtocart btn-sm btn-block">Add to cart</button>
      </div>
      <div class="col-6"><button type="button" class="btn btn-outline-buynow btn-sm btn-block">Buy now</button>
      </div>
    </div>
  </div>
</div>