<div class="row item-list">
  <div class="item col-4" id="item-{{i}}" *ngFor="let item of ItemList; let i =index;">
    <img class="item-image container" src="{{item.image}}">
    <div class="row item-details">
      <div class="col-6">
        <p class="item-name">{{item.name}}</p>
      </div>
      <div class="col-3">
        <p class="item-price">
          <i class="fa fa-inr" aria-hidden="true"></i>
          <span [ngClass]="{'has-discount': item.hasDiscount}">{{item.price}}</span>
        </p>
      </div>
      <div class="col-3">
        <p class="item-discount-price" *ngIf=item.hasDiscount>
          <i class="fa fa-inr" aria-hidden="true"></i>
          <span>{{item.discountedPrice}}</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6"><button type="button" class="btn btn-outline-addtocart btn-block">Add to cart</button>
      </div>
      <div class="col-6"><button type="button" class="btn btn-outline-buynow btn-block">Buy now</button>
      </div>
    </div>
  </div>
</div>