<div class="collection">
  <ul class=collection-list>
    <li class="collection-list-item">
      <span class="item-name">Double fold wallet</span>
      <!-- <span class="item-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span> -->
    </li>
    <li class="collection-list-item">
      <span class="item-name">Single fold wallet</span>
      <!-- <span class="item-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span> -->
    </li>
    <li class="collection-list-item">
      <span href="#" class="item-name">Card holder</span>
      <!-- <span class="item-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span> -->
    </li>
    <li class="collection-list-item">
      <span class="item-name">Belt</span>
      <!-- <span class="item-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span> -->
    </li>
    <li class="collection-list-item">
      <span class="item-name">Camera strap</span>
      <!-- <span class="item-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span> -->
    </li>
    <li class="collection-list-item">
      <span class="item-name">Accesories</span>
      <!-- <span class="item-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span> -->
    </li>
  </ul>
</div>
<div class="products">
  <app-reusable-card [ItemList]="itemlist"></app-reusable-card>
</div>