a{
  color: #3A4B62 !important;
  text-decoration: none;
}
.active{
  font-weight: bolder;
}
.collection {
  color: #3A4B62 !important;
  height: 40px;
  line-height: 40px;
  background-color: #fcbb6d;
  position: fixed;
  top:80px;
  width: 100%;
  z-index: 1200;
}
.collection-list {
  font-size: 12px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.collection-list-item {
  margin: 0 40px;
  display: grid;
  text-align: center;
}
.collection-list-item:hover {
  font-weight: bold;
}
.products {
  margin: 100px 100px;
  position: relative;
}