<div class="collection">
  <ul class=collection-list>
    <li class="collection-list-item">
      <span class="item-name">
        <a [routerLink]="['/collection']" [queryParams]="{category:'DBFW'}" routerLinkActive="active">Double fold
          wallet</a>
      </span>
    </li>
    <li class="collection-list-item">
      <span class="item-name">
        <a [routerLink]="['/collection']" [queryParams]="{category:'SGFW'}" routerLinkActive="active">Single fold
          wallet</a>
      </span>
    </li>
    <li class="collection-list-item">
      <span class="item-name">
        <a [routerLink]="['/collection']" [queryParams]="{category:'CRHD'}" routerLinkActive="active">Card holder</a>
      </span>
    </li>
    <li class="collection-list-item">
      <span class="item-name">
        <a [routerLink]="['/collection']" [queryParams]="{category:'BELT'}" routerLinkActive="active">Belt</a>
      </span>
    </li>
    <li class="collection-list-item">
      <span class="item-name">
        <a [routerLink]="['/collection']" [queryParams]="{category:'CMST'}" routerLinkActive="active">Camera strap</a>
      </span>
    </li>
    <li class="collection-list-item">
      <span class="item-name">
        <a [routerLink]="['/collection']" [queryParams]="{category:'ACSS'}" routerLinkActive="active">Accessories</a>
      </span>
    </li>
  </ul>
</div>
<div class="products">
  <app-reusable-card [ItemList]="itemlist"></app-reusable-card>
</div>