/* You can add global styles to this file, and also import other style files */
body{
    font-family: monospace !important;
}
.container,.row{
    max-width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
